
<header>
    <div class="container">
      <a routerLink="/" class="logo">Project</a>
      <nav>
        <ul>
            <li class="menu-container">
                <a>Pages</a>
                <div class="menu">
                    <a routerLink="/">Home</a>
                    <a routerLink="/pages/document1">Document1</a>
                    <a routerLink="/pages/document2">Document2</a>
                    <a *ngIf="isAuth" routerLink="/pages/test2">Test2</a>
                </div>
            </li>
            
            <li *ngIf="!isAuth"> 
            <a routerLink="/login">Login</a>
            </li>
            
            <li *ngIf="isAuth" class="menu-container">
                <a routerLink="/dashboard">{{user.name}}</a>
                <div class="menu">
                <a (click)="logOut()">Logout</a>
                </div>
            </li>     
        </ul>
      </nav>
    </div>
  </header>
  